<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>STUDYSCORD</title>
        <meta name="description" content="Discord But for studiying">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
       <!-- navbar should be on all pages so above block tab -->
        {% include 'navbar.html' %}
       
       <!-- codeblock where we will call  all templates -->
        {% block content %}

        {% endblock content %}


    </body>
</html>