{% extends 'main.html' %}

{% block content %}


<h1>Home Page cuntsssss</h1>

    <div>
        <!-- looping through roos dictionary or db stuff and creating code blocks also notice we are wrappoing in links-->
        {% for room in rooms %}
            <div>
                <span>@{{room.host.username}}</span>
                <h5>{{ room.id }} --  <a href="/room/{{room.id}}"> {{ room.name }} </a></h5>
            <small>Topic name: {{room.topic.name}}</small>
            <br>
            </div>
            <hr>

        {% endfor %}
    </div>


{% endblock content %}
